<doctype html>
    <h2>Select one of the tables from the database</h2>

    <form method="post" action="/delete">
        <input type="submit" name="submit_button" value="COLLEGE">
        <input type="submit" name="submit_button" value="COURSE">
        <input type="submit" name="submit_button" value="DEPARTMENT">
        <input type="submit" name="submit_button" value="INSTRUCTOR">
        <input type="submit" name="submit_button" value="SECTION">
        <input type="submit" name="submit_button" value="STUDENT">
        <input type="submit" name="submit_button" value="TAKES">

    </form>